body{
    font-family: "DejaVu Sans" !important;
}

.title {
    font-size: 18px;
    text-align: center;
}

.title-1 {
    font-size: 18px;
    text-align: center;
}

.title-2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.content {
    font-size: 18px;
}

span {
    display: block;
}

.title-sm {
    font-weight: 700;
}

